<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Beranda</a></li>
        <li *ngIf="auth.sudahLogin()"><a routerLink="/profile">Profile</a></li>
        <li *ngIf="auth.sudahLogin()"><a href="#" routerLink="/barang/list">Penjualan</a></li>
        <li  *ngIf="auth.sudahLogin()"><a href="#" routerLink="/sewa/list">Penyewaan</a></li>

      </ul>

      <!--form login-->
      <form class="navbar-form navbar-right" *ngIf="auth.sudahLogin()">
        <a><b>{{auth.getUserInfo().fullname}}</b></a>
        <a routerLink="/login" (click)="logout()" class="btn btn-default btn-primary">Keluar</a>
      </form>
      <form class="navbar-form navbar-right" *ngIf="!auth.sudahLogin()">
        <a routerLink="/login" class="btn btn-default btn-primary">Masuk</a>
        <a routerLink="/registrasi" class="btn btn-default btn-primary">Daftar</a>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>
