<h3>Barang Baru</h3>
<a routerLink="/barang/list" class="btn btn-success"><span class="glyphicon glyphicon-align-justify"></span> </a>
<form>
  <div class="form-group">
    <label for="kode">Kode</label>
    <input type="text" class="form-control" id="kode" placeholder="Kode" name="kode" [(ngModel)]="data.kode">
  </div>
  <div class="form-group">
    <label for="nama">Nama</label>
    <input type="text" class="form-control" id="nama" placeholder="Nama" name="nama" [(ngModel)]="data.nama">
  </div>
  <div class="form-group">
    <label for="harga">Harga</label>
    <input type="number" class="form-control" id="harga" placeholder="Harga" name="harga" [(ngModel)]="data.harga">
  </div>
  <div class="form-group">
    <label for="jumlah">Jumlah</label>
    <input type="number" class="form-control" id="jumlah" placeholder="Jumlah" name="jumlah" [(ngModel)]="data.jumlah">
  </div>
  <div class="form-group">
    <label for="keterangan">Keterangan</label>
    <textarea class="form-control" id="keterangan" rows="3" placeholder="Keterangan" name="keterangan" [(ngModel)]="data.keterangan"></textarea>
  </div>
  <button type="submit" class="btn btn-default" (click)="simpan()">Simpan</button>
</form>
